@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");

:root {
  --pink: #d87472;
  --grey: #262626;
  --yellow: #faeeb2;
  --navy: #1f3b63;
}

body {
  font-family: "Coustard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  max-width: 900px;
  padding: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
